{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Boletim Escolar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .boletim {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            border-collapse: collapse;
            border: 1px solid black;
        }
        .boletim th, .boletim td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        .boletim th {
            background-color: #f2f2f2;
        }
        .boletim thead th {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .header, .footer {
            text-align: center;
            margin-bottom: 20px;
        }
        .footer {
            margin-top: 20px;
        }
        .responsive-table {
            overflow-x: auto;
        }
    </style>
</head>
<body>
    {% include 'navbar.html'%}
    <div class="header">
        <h1>BOLETIM ESCOLAR: {{ano}}</h1>
        <p>Nome: {{ boletins.aluno }} </p>
        <p>Matricula:{{ boletins.matricula }} Turma: ______ Turno: ______</p>
    </div>

    <div class="responsive-table">
        <table class="boletim">
            <thead>
                <tr>
                    <th rowspan="2">Componentes Curriculares</th>
                    <th colspan="4">Notas</th>
                    <th colspan="4">Faltas</th>
                    <th rowspan="2">Resultado Global</th>
                    <th rowspan="2">Total de Faltas</th>
                    <th rowspan="2">Resultado Final</th>
                </tr>
               
                <tr>
                    <th>1º Bim</th>
                    <th>2º Bim</th>
                    <th>3º Bim</th>
                    <th>4º Bim</th>
                    <th>1º Bim</th>
                    <th>2º Bim</th>
                    <th>3º Bim</th>
                    <th>4º Bim</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Português</td>
                    <td>   {{ boletins.portugues_bim1}}    </td>
                    <td> {{ boletins.portugues_bim2}} </td>
                    <td> {{ boletins.portugues_bim3}} </td>
                    <td> {{ boletins.portugues_bim4}} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Matemática</td>
                    <td> {{ boletins.matematica_bim1}} </td>
                    <td> {{ boletins.matematica_bim2}} </td>
                    <td> {{boletins.matematica_bim3}} </td>
                    <td> {{ boletins.matematica_bim4}} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ciências</td>
                    <td>{{boletins.ciencias_bim1}}</td>
                    <td>{{boletins.ciencias_bim2}}</td>
                    <td>{{boletins.ciencias_bim3}}</td>
                    <td>{{boletins.ciencias_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>História</td>
                    <td>{{boletins.historia_bim1}}</td>
                    <td>{{boletins.historia_bim2}}</td>
                    <td>{{boletins.historia_bim3}}</td>
                    <td>{{boletins.historia_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Geografia</td>
                    <td>{{boletins.geografia_bim1}}</td>
                    <td>{{boletins.geografia_bim2}}</td>
                    <td>{{boletins.geografia_bim3}}</td>
                    <td>{{boletins.geografia_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Inglês</td>
                    <td>{{boletins.ingles_bim1}}</td>
                    <td>{{boletins.ingles_bim2}}</td>
                    <td>{{boletins.ingles_bim3}}</td>
                    <td>{{boletins.ingles_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fisica</td>
                    <td>{{boletins.fisica_bim1}}</td>
                    <td>{{boletins.fisica_bim2}}</td>
                    <td>{{boletins.fisica_bim3}}</td>
                    <td>{{boletins.fisica_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Quimica</td>
                    <td>{{boletins.quimica_bim1}}</td>
                    <td>{{boletins.quimica_bim2}}</td>
                    <td>{{boletins.quimica_bim3}}</td>
                    <td>{{boletins.quimica_bim4}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            

            </tbody>
        </table>
    </div>

    <div class="footer">
        {% block content %}
        {% if user.is_authenticated %}
        <a href="{%url 'att_notas' matricula%}" class="btn btn-success">Atualizar Notas</a>
        {% else %}
        <a href="{%url 'aluno'%}" class="btn btn-info">Back</a>
       
        {% endif %}
        {% endblock %}

    </div>
    
</body>
</html>

