{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="row d-flex d-flex-row justify-content-center align-items-center p2" style="border:2px solid rgb(0, 162, 255);text-align:center">

  {% if user.is_authenticated %}

  
  <div class="col-md-6" style="width:100%;height:600px;margin: 0 auto">
    <h1 style="font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;margin: 0 auto;">Estamos felizes que você se juntou a nós!<br>
    Bem Vindo ao Boletim Eletronico</h1>
    
     </div>
  

  {% else %}

  

  <h1> Login </h1>

  <div class="col-md-6">
    <form style="width: 100%;" method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      
      <label   class="form-label">Usuario</label>
      <br>
      <input type="text" class="form-control" name="username", placeholder="Digite seu Usuario" required>
      <br>
      <label   class="form-label">Senha</label>
      <br>
      <input type="password" class="form-control" name="password" placeholder=" Digite Sua Senha" required>
      <br>
      <button class="btn btn-primary" type="submit">Logar</button>
  
    </form>
  
  </div>

  <div class="col-md-6">
    {% include 'conteudo.html' %}
  </div>
  
</div>
  {% endif %}

{% endblock %}


