{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static 'produtos/css/stylo.css' %}"rel="stylesheet">

    <title>Test</title>
</head>
<body>

{% include 'navbar.html'%}
  <!--  <div class="div1">

      
        <label for="exampleInputPassword1" name="matricula" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="exampleInputPassword1" value=" {{matricula.matricula}}">
        <label for="exampleInputPassword1" name="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputPassword1" value=" {{matricula.nome}}">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" value=" {{matricula.email}}">
        <label for="exampleInputPassword1" class="form-label">Genero</label>
        <input type="text" class="form-control" id="exampleInputPassword1" value=" {{matricula.genero}}">
        <label for="exampleInputPassword1" class="form-label">Endereço</label>
        <input type="endereco"  class="form-control" id="exampleInputPassword1" value=" {{matricula.endereco}}">
        
       
      </div>-->



   
    <div class="card" style="width: 28rem;margin:0 auto;">
      
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{matricula.nome}}</h5>
        <p class="card-text"><strong>Matricula: </strong> {{matricula.matricula}}</p>
        <p class="card-text"><strong>Email: </strong> {{matricula.email}}</p>
        <p class="card-text"><strong>Genero: </strong> {{matricula.genero}}</p>
        <p class="card-text"><strong>Endereço: </strong> {{matricula.endereco}}</p>
        <p class="card-text"><strong>Nascimento: </strong> {{matricula.nascido}}</p>
        <p class="card-text"><strong>Contato: </strong> {{matricula.contato}}</p>
        <p class="card-text"><strong>Cidade: </strong> {{matricula.cidade}}</p>
        <p class="card-text"><strong>Estado: </strong> {{matricula.estado}}</p>
        
        <a href="{%url 'testnotas' matricula.matricula%}" class="btn btn-warning">Boletim</a>
        <a href="{%url 'att_record' matricula.matricula%}" class="btn btn-info">Atualizar</a>
        <a href="{%url 'delete_record' matricula.matricula%}" class="btn btn-danger">Apagar</a>


        <a href="{%url 'aluno'%}" class="btn btn-primary">Retornar</a>

      </div>
    </div>
    
<!--test 2-->


      
  

  

   
 

  




</body>
</html>